<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Travel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/travel-page.css' %}"> <!-- Custom CSS for this page -->
</head>
<body>
<header class="site-navbar" role="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#">TravelSite</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% if request.user.is_staff %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li><a class="nav-link" href="{% url 'admin_home' %}">Dashboard</a></li>
                            <li><a class="nav-link" href="{% url 'all_user' %}">All User</a></li>
                            <li><a class="nav-link" href="{% url 'add_destination' %}">Add Destination</a></li>
                            <li><a class="nav-link" href="{% url 'view_destination' %}">View Destination</a></li>
                            <li><a class="nav-link" href="{% url 'view_booking' %}">View Booking</a></li>
                            <li><a class="nav-link" href="{% url 'view_contact' %}">View Contact</a></li>
                            <li><a class="nav-link" href="{% url 'Change_Password' %}">Change Password</a></li>
                            <li><a class="nav-link" href="{% url 'add_blog' %}">Create Blog</a></li>
                            <li><a class="nav-link" href="{% url 'admin_viewblog' %}">Manage Blog</a></li>



                            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                        <span class="btn btn-warning">Welcome {{ request.user.username }}</span>
                        {% elif request.user.is_authenticated %}
                        <ul class="navbar-nav me-auto">
                            <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                            <li><a class="nav-link" href="{% url 'blog' %}">Travel Blogs</a></li>
                            <li><a class="nav-link" href="{% url 'my_booking' %}">My Booking</a></li>
                            <li><a class="nav-link" href="{% url 'view_profile' %}">View Profile</a></li>
                            <li><a class="nav-link" href="{% url 'Change_Password' %}">Change Password</a></li>
                            <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                            <li><a class="nav-link" href="{% url 'logout' %}" onclick="return confirm('Are You Sure')">Logout</a></li>
                        </ul>
                        <span class="btn btn-warning">Welcome {{ request.user.username }}</span>
                        {% else %}
                        <ul class="navbar-nav me-auto">
                            <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                            <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                            <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                            <li><a class="nav-link" href="{% url 'blog' %}">Travel Blogs</a></li>
                            <li><a class="nav-link" href="{% url 'admin_login' %}">Admin Login</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

{% block body %}
<div class="content">
    <!-- Dynamic content for each page goes here -->
</div>
{% endblock %}

<footer class="site-footer">
    <div class="container">
        <p>&copy; <script>document.write(new Date().getFullYear());</script> TravelSite | All Rights Reserved</p>
        <div class="social-icons">
            <a href="#" class="icon-facebook"></a>
            <a href="#" class="icon-twitter"></a>
            <a href="#" class="icon-instagram"></a>
            <a href="#" class="icon-linkedin"></a>
        </div>
    </div>
</footer>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
